@import "../../src/variables.css";

.defaultPageColor{
    width: 100%;
    margin: 0px;
    background-color: var(--white);
    height: calc(100vh - 50px);
}

.button{
    float: right;
    margin: 10px;
    border: 0px;
}

