.registerCont{
    width: 50%;
    margin: auto;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    min-width: 200px;
}

.inputBox{
    margin-top: 10px;
}

.btn{
    margin-right: 10px;
}