.graphCard{
    height: 500px;
    border: 2px solid var(--gray);
    border-radius: 5px;
}

.title{
    padding: 10px;
    height: 50px;
}

.graphCont{
    height: 450px;
    /* background-color: aqua; */
    padding: 20px;
}