@import '../src/variables.css';

.header_bgcolor{
    background-color: var(--dark_green);
    padding: 0px;
    margin: 0px; 
    width: 100%;
    height: 50px;
}

.header_bgcolor .row {
    margin: 0; /* Remove margin from the row */
    height: 100%;
    align-items: center;
    background-color: antiquewhite;
  }